%ul{:id => 'submenu', :class => 'sub_menu'}
  %li
    = link_to 'IO Scan', ioscans_path, :class => (@current_tab == 'ioscans' ? 'active' : '')
  %li
    = link_to 'SW List', swlists_path, :class => (@current_tab == 'swlists' ? 'active' : '')
