-content_for :subtitle do
  Edit Subcontractor
#section2
  - form_for(@subcontractor) do |f|
    = f.error_messages
    %p
      = f.submit "Update"
      = link_to 'Back/Cancel', subcontractors_path
    = render :partial => 'form', :locals => {:f => f}
