%p
  %label{:for => "comment_body"}
    Body
  = f.text_field :body, :class => 'textbox'

%p
  %label{:for => "commentable_id"}
    ID
  = f.text_field :commentable_id, :class => 'textbox'

%p
  %label{:for => "commentable_type"}
    Type
  = f.text_field :commentable_type, :class => 'textbox'

