- content_for :subtitle do
  Servers
#section1
  %h2 Editing Blacklist pattern
#section2
  - form_for(@swlist_blacklist) do |f|
    = f.error_messages
    %p
      %label{:for => 'swlist_pattern'}
        Pattern
      = f.text_field :pattern
    %p
      = f.submit "Update"

= link_to 'Cancel', swlist_blacklists_path
