#discounts.boxed{:style => 'width:160px;height:160px'}
  %h2 Discounts
  %p
    %label{:for => "contract_discount_pref_hw"}
      HW Disct %
    =h discount_to_percentage(@contract.discount_pref_hw)
  %p
    %label{:for => "contract_discount_pref_sw"}
      SW Disct %
    =h discount_to_percentage(@contract.discount_pref_sw)
  %p
    %label{:for => "contract_discount_pref_srv"}
      SRV Disct %
    =h discount_to_percentage(@contract.discount_pref_srv)
  %p
    %label{:for => "contract_discount_prepay"}
      Prepay Disct %
    =h discount_to_percentage(@contract.discount_prepay)
  %p
    %label{:for => "contract_discount_multiyear"}
      Multi-year Disct %
    =h discount_to_percentage(@contract.discount_multiyear)
  %p
    %label{:for => "contract_discount_ce_day"}
      CE Days Disc %
    =h discount_to_percentage(@contract.discount_ce_day)
  %p
    %label{:for => "contract_discount_sa_day"}
      SA Days Disct %
    =h discount_to_percentage(@contract.discount_sa_day)

