%tr
  %th=check_box_tag section.to_s + "checkbox", 1 , false, {:onclick => "checkAllBoxes(" + section.to_s + ");"}
  %th Order
  %th &nbsp;Supp Provider&nbsp;
  %th &nbsp;Supp Location&nbsp;
  %th &nbsp;Product num&nbsp;
  %th &nbsp;Serial num&nbsp;
  %th &nbsp;Description&nbsp;
  %th &nbsp;Begins&nbsp;
  %th &nbsp;Ends&nbsp;
  %th &nbsp;Qty&nbsp;
  %th &nbsp;List Price&nbsp;
  - if current_user.role == ADMIN
    %th{:colspan => "2"} &nbsp;

