- content_for :subtitle do
  Edit Contract
  
#section1
  = error_messages_for :contract
  - form_for(:contract, :url => contract_path(@contract), :html => { :method => :put }) do |f|
    = render :partial => "form", :locals => { :f => f } 

    %p
    = submit_tag "Update"

#section2
  = link_to('Show', contract_path(@contract)) + ' | ' + link_to('List of Contracts', contracts_path)
