=include_calendar
- content_for :subtitle do
  Renewal Sent

- form_for(:contract, :url => {:action => "backtorenewals", :id=>@contract.id}, :html => { :method => :post }) do |f|

  %h2 Update Renewal Sent Date
  %p
    = h @contract.account_name + ' | ' + @contract.description + ' | ' + @contract.said
  %p
    %label{:for => "contract_renewal_sent"}
      Renewal Sent
    = f.date_select :renewal_sent
    %br
    %span{:style => "padding-left: 120px"}
      %em click the calendar icon to choose the date
  %p
    %label{:for => "contract_renewal_amount"}
      Renewal Amount
    = f.text_field :renewal_amount
    %br
    %span{:style => "padding-left: 120px"}
      %em format: 12345.00

  = submit_tag "Update"
