- content_for :subtitle do
  Appgen Order Details
=render_simple_show(@appgen_order)
=render_simple_index(@appgen_order.appgen_order_lineitems, :ignored_foreign_keys => [:appgen_order_id], :display_show => false, :display_edit => false, :display_destroy => false)
