- content_for :subtitle do
  Admin Reports

%p &nbsp;

#section1
  %h2{:style => 'margin:15px 0px 0px 3px'} Contracts Missing Account
  
  %table{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      %tr
        %th
          &nbsp;
        %th
          %b Contract
    %tbody
      - n = 0
      - for x in @contracts
        %tr
          %td
            = n += 1
          %td
            = link_to x.account_name + " | " + x.description, contract_url(x.id)
            = link_to 'edit', edit_contract_url(x.id)

          
