- content_for :subtitle do
  Admin Area
  

#section1
  #submenu
    = link_to( 'Dropdowns', dropdowns_path ) + " | "
    = link_to( 'Users', users_path ) + " | "
    = link_to 'Import', import_index_path

