- content_for :subtitle do
  Admin Area
  

#section1
  %p
    = link_to 'Dropdowns', dropdowns_path
  
  %p
    = link_to 'Users', users_path
  %p
    = link_to 'Import', import_index_path

#section2
  = link_to 'Home', home_path
