- content_for :subtitle do
  Admin Reports

%p &nbsp;

#section1
  %h2{:style => 'margin:15px 0px 0px 3px'} Contracts Missing Line Items
  
  %table{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      %tr
        %th
          &nbsp;
        %th
          %b End Date | Customer | Description
    %tbody
      - n = 0
      - for x in @contracts
        %tr
          %td
            = n += 1
          %td
            = link_to x.end_date.to_s + " | " + x.account_name + " | " + x.description, contract_url(x.id)

          
