!!!Transitional
%html{ "xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", "lang"=>"en" }
  %head
    %link{:href => "/stylesheets/menu.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %hr.menu
    #menu
      %ul{:id => "menu"}
        %li
          %a.menu{:href => "#"} Menu 1
          %ul.submenu
            .submenu
              .submenuHeader Menu 1 long explanation
              .menuCol.last
                %h1 Group 1_1
                %a.submenu{:href => "#"} Menu 1_1_1
                %br/
                %a.submenu{:href => "#"} Menu 1_1_2
                %br/
                %a.submenu{:href => "#"} Menu 1_1_3
                %br/
                %a.submenu{:href => "#"} Menu 1_1_4
                %br/
        %li
          %a.menu{:href => "#"} Menu 2
          %ul.submenu
            .submenu
              .submenuHeader Menu 2 long explanation
              .menuCol
                %h1 Group 2_1
                %a.submenu{:href => "#"} Menu 2_1_1
                %br/
                %a.submenu{:href => "#"} Menu 2_1_2
                %br/
                %a.submenu{:href => "#"} Menu 2_1_3
                %br/
                %a.submenu{:href => "#"} Menu 2_1_4
                %br/
              .menuCol.last
                %h1 Group 2_2
                %a.submenu{:href => "#"} Menu 2_2_1
                %br/
                %a.submenu{:href => "#"} Menu 2_2_2
                %br/
                %a.submenu{:href => "#"} Menu 2_2_3
                %br/
                %a.submenu{:href => "#"} Menu 2_2_4
                %br/
          
