//Variables
!sdc_black = #000000
!sdc_green = #a0d55c
!sdc_grey = #cccccc

/* General Styles
*
  :margin 0
  :padding 0 
  :font
    :family Arial
    :size 10pt

a
  :text-decoration underline
  :color = !sdc_black

a:hover
  :text-decoration none
  :color = !sdc_green

p, blockquote, ul, ol
  :margin-bottom 1em
  :text-align justify
  
h1
  :font-size 16pt
  :font-weight bold
  :margin-bottom .5em
  
h2
  :font-size 12pt
  :margin-bottom .5em

label
  :float left
  :width 120px
  :font-weight bold

table
  :border-width 1px
  :border-style solid
  :border-collapse collapse
  :border-color = !sdc_black

  tr.expired
    :background = #ffff99
  
  td
    :border-width 1px
    :border-style solid
    :border-collapse collapse
    :border-color = !sdc_black
    :padding 1px 2px 1px 2px

  th
    :background = !sdc_green + 0
    :height 20px
    :border-width 1px
    :border-style solid
    :border-collapse collapse
    :border-color = !sdc_black

    h2
      :text-transform uppercase
      :margin 0
      :padding-left 5px
      :color = blue
      :background = !sdc_green + 30
      
table.plain_table
  :border-width 0px
  :border-collapse collapse
  td
    :border-width 0px
    :border-collapse collapse
    :padding 1px 0px 1px 0px
    
ul.sub_menu
  :position absolute
  :top 87px
  :left 315px
  :margin 0
  :padding-top 0px
  :list-style none
  
  li
    :display inline
  
  a 
    :display block
    :float left
    :width 80px
    /*:height 20px
    :margin-left 2px
    :padding 1px 2px 1px 2px
    :background = !sdc_black + 30
    :text-decoration none
    :text-align center
    :font-weight bold
    :color = white

  
  a:hover
    :color = !sdc_black
    :background = !sdc_green - 23
  
  a.active
    :color = !sdc_green
    :background = !sdc_black
    
#userinfo
  :position absolute
  :top 33pt
  :left 205pt
  :z-index 100
  :height 9pt
  
  p
    :font-size 8pt
    :margin-top 0
    :margin-bottom 0

#header_mini_graph
  :position absolute
  :top 0pt
  :left 540pt
  :padding 0pt    
    
#error
  :font-weight bold
  :color #f00
  
/* Boxed Styles

#search
  :width 90%
  :padding 2px 3px 3px 3px
  :margin-right 5px
  :margin-bottom 5px
  :background = !sdc_grey
  :border
    :width 1px
    :style solid
    :color = !sdc_black

.comments
  :float left
  :width 800px
  :padding 2px 3px 10px 3px
  :margin-right 5px
  :margin-bottom 5px
  :border
    :width 1px
    :style solid
    :color = !sdc_black

.comment
  :float left 
  :margin-right 10px
  :margin-bottom 5px
  :border-top
    :width 1px
    :style solid
    :color = !sdc_black

  h2
    :text-transform uppercase
    :padding-left 5px
    :color = !sdc_black
    :background = !sdc_green + 30


  
.boxed
  :float left 
  :padding 2px 3px 10px 3px
  :margin-right 5px
  :margin-bottom 5px
  :background = #eeeeee
  :border
    :width 0px
    :style solid
    :color = !sdc_black

  p
    :margin 0
    :padding 0

  h2
    :text-transform uppercase
    :padding-left 5px
    :color = !sdc_black
    :background = !sdc_green

  label
    :float left
    :width 120px
    :font-weight bold
    
  hr
    :color = !sdc_black
    :background-color = !sdc_black
    :margin 3px 0px 5px 0px
    :height 2px
    :width 100%
    
  select
    :width 10em
    :padding .5px
    :margin .5px
    :border
      :width 1px
      :style solid
      :color = !sdc_black

  .textbox
    :width 10em
    :padding .5px
    :margin .5px
    :border
      :width 1px
      :style solid
      :color = !sdc_black

  .textboxright
    :text-align right
    :width 10em
    :padding .5px
    :margin .5px
    :border
      :width 1px
      :style solid
      :color = !sdc_black
      
/* Header Styles

#header
  :float left
  :width 100%
  :height 85px
  :margin 0px 0px 5px 5px
  :background #fff
  
  /* Header > Logo
  
  #logo 
    :float left
    :margin-right 15px
  
    h1 
      :float left
      :width 650px
      :font-size 1.5em
      :margin 0
      :padding 18px 0 0px 0
      :color = !sdc_black
  
    h2 
      :float left
      :margin-top -5px
      :font-size 1em
  
  /* Header > Title
  
  #title
    :width 700px
  
    h1
      :font-size 1.5em
      :margin 0
      :padding 18px 0 0px 0
      :color = !sdc_black
  
  /* Header > Menu

  #menu
    /*:float left
    :width 700px
    
  
    ul
      :margin 0
      :padding-top 15px
      :list-style none
  
    li
      :display inline
  
    a 
      :display block
      :float left
      :width 95px
      :height 20px
      :margin-left 2px
      :padding-top 3px
      :background = !sdc_black + 30
      :text-decoration none
      :text-align center
      :font-weight bold
      :color = white
  
    a:hover
      :color = !sdc_black
      :background = !sdc_green - 23
  
    a.active
      :color = !sdc_green
      :background = !sdc_black
  
    hr
      :position absolute
      :left 0px
      :top 81px
      :color = !sdc_black
      :background-color = !sdc_black
      :height 5px
      :width 100%

/* Content

#content
  :float left
  :margin 0px 0px 0px 0px
  :width 100%
  :background #fff

#linkbox
  :float left
  :margin 5px 20px 0px 3px
  :background #fff


/* Section 1

#section1
  :float left
  :margin 0px 5px 0px 5px
  :width 100%
  :background #fff
  
  #submenu
    :width 160px
    :margin 0 0 5px 300px
    

/* Section2

#section2
  :float left
  :margin 5px 5px 0px 5px
  :width 100%
  :background #fff

/* Section3

#section3 
  :float left
  :margin 5px 5px 0px 5px
  :width 100%
  :background #fff

/* Section4

#section4 
  :float left
  :margin 5px 5px 0px 5px
  :width 100%
  :background #fff

.label
  :float left
  :border 1px solid red
  :width 150px

.data
  :display inline
  :width 100px
  :border 1px solid blue
  :background-color #ddd
