<h1>New swproduct for pattern '<%= @swlist_whitelist.pattern %>'</h1>

<% form_for(:swproduct, :url => swlist_whitelist_swproducts_path(@swlist_whitelist.id)) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %> 
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', @swlist_whitelist %>
