/* General Styles */
body {
  behavior: url("/hover.htc"); }

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 10pt; }

pre {
  font-family: Courier;
  font-size: 10pt; }

a {
  text-decoration: underline;
  color: #000000; }

a:hover {
  text-decoration: none;
  color: #a0d55c; }

p, blockquote, ul, ol {
  margin-bottom: 1em;
  text-align: justify; }

h1 {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: .5em; }

h2 {
  font-size: 12pt;
  margin-bottom: .5em; }

label {
  float: left;
  width: 120px;
  font-weight: bold; }

table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  border-color: #000000; }
  table tr.expired {
    background: #ffff99; }
  table tr.expired:hover {
    background: #a0d55c; }
  table tr.plain {
    background: ''; }
  table tr.plain:hover {
    background: #a0d55c; }
  table tr.mouseover {
    background: #a0d55c; }
  table td {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: #000000;
    padding: 1px 2px 1px 2px; }
  table th {
    background: #a0d55c;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: #000000; }
  table th.search {
    height: 24px; }
    table th.search h2 {
      text-transform: uppercase;
      margin: 0;
      padding-left: 5px;
      color: #0000ff;
      background: #bef37a; }

table.plain_table {
  border-width: 0px;
  border-collapse: collapse; }
  table.plain_table td {
    border-width: 0px;
    border-collapse: collapse;
    padding: 1px 0px 1px 0px; }

ul.sub_menu {
  position: absolute;
  top: 87px;
  left: 162px;
  margin: 0;
  padding-top: 0px;
  list-style: none; }
  ul.sub_menu li {
    display: inline;
    font-size: 12px; }
  ul.sub_menu a {
    display: block;
    float: left;
    width: 80px;
    /* :height 20px */
    margin-left: 2px;
    padding: 1px 2px 1px 2px;
    background: #1e1e1e;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #ffffff; }
  ul.sub_menu a:hover {
    color: #000000;
    background: #89be45; }
  ul.sub_menu a.active {
    color: #a0d55c;
    background: #000000; }

#userinfo {
  position: absolute;
  top: 68px;
  left: 3px;
  z-index: 100;
  height: 9pt; }
  #userinfo p {
    font-size: 8pt;
    margin-top: 0;
    margin-bottom: 0; }

#header_mini_graph {
  position: absolute;
  top: 0pt;
  left: 540pt;
  padding: 0pt; }

.errorExplanation {
  width: 700px;
  padding: 2pt;
  background-color: #ff9999;
  border-width: 2pt;
  border-style: solid;
  border-color: #ff0000; }

.fieldWithErrors {
  padding: 1pt;
  background-color: #ff0000;
  display: table; }

#error {
  font-weight: bold;
  color: #f00; }

/* Boxed Styles */
#search {
  width: 90%;
  padding: 2px 3px 3px 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #cccccc;
  border-width: 1px;
  border-style: solid;
  border-color: #000000; }

.comments {
  float: left;
  width: 800px;
  padding: 2px 3px 10px 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000; }

.comment {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000; }
  .comment h2 {
    text-transform: uppercase;
    padding-left: 5px;
    color: #000000;
    background: #bef37a; }

.boxed {
  float: left;
  padding: 2px 3px 10px 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #eeeeee;
  border-width: 0px;
  border-style: solid;
  border-color: #000000; }
  .boxed p {
    margin: 0;
    padding: 0; }
  .boxed h2 {
    text-transform: uppercase;
    padding-left: 5px;
    color: #000000;
    background: #a0d55c; }
    .boxed h2 a:hover {
      color: #649920; }
  .boxed label {
    float: left;
    width: 120px;
    font-weight: bold; }
  .boxed hr {
    color: #000000;
    background-color: #000000;
    margin: 3px 0px 5px 0px;
    height: 2px;
    width: 100%; }
  .boxed select {
    width: 10em;
    padding: .5px;
    margin: .5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000; }
  .boxed .textbox {
    width: 10em;
    padding: .5px;
    margin: .5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000; }
  .boxed .textboxright {
    text-align: right;
    width: 10em;
    padding: .5px;
    margin: .5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000; }

/* Header Styles */
#header {
  positon: absolute;
  left: 0px;
  width: 100%;
  height: 139px;
  background-image: url("/images/tabshadow.gif");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-margin-left: -5px;
  /* Header > Logo */
  /* Header > Title */
  /* Header > Menu */ }
  #header #logo {
    float: left;
    margin-right: 15px;
    margin-left: 5px; }
    #header #logo h1 {
      float: left;
      width: 650px;
      font-size: 1.5em;
      margin: 0;
      padding: 18px 0 0px 0;
      color: #000000; }
    #header #logo h2 {
      float: left;
      margin-top: -5px;
      font-size: 1em; }
  #header #title {
    min-width: 100px; }
    #header #title h1 {
      font-size: 1.5em;
      margin: 0;
      padding: 18px 0 0px 0;
      color: #000000; }
  #header #menu {
    /* :float left */
    width: 700px; }
    #header #menu ul, #header #menu li, #header #menu a {
      margin: 0; }
    #header #menu ul {
      position: absolute;
      width: 700px;
      top: 69px;
      left: 270px;
      list-style: none;
      z-index: 1; }
    #header #menu div.submenu {
      position: absolute;
      height: 160px;
      padding: 2px;
      width: 450px;
      top: -53px;
      left: -270px;
      background-color: #cccccc;
      border-color: black;
      border-style: solid;
      border-width: thin;
      list-style: none;
      z-index: 9; }
    #header #menu div.submenuHeader {
      padding: 2px;
      width: 95%;
      margin-bottom: 5px;
      font-family: arial,tahoma,verdana,helvetica;
      font-size: 13px;
      font-weight: bold;
      border-color: black;
      border-style: none none dotted none;
      border-width: 1px; }
    #header #menu div.submenuFooter {
      display: block;
      float: left;
      width: 95%;
      padding: 2px;
      margin-top: 5px;
      font-family: arial,tahoma,verdana,helvetica;
      font-weight: bold;
      font-style: italic; }
    #header #menu div.menuCol {
      float: left;
      display: block;
      height: 100px;
      padding: 0px 10px 3px 10px;
      border-color: black;
      border-style: none dotted none none;
      border-width: 1px; }
    #header #menu div.last {
      border-style: none none none none; }
    #header #menu li {
      display: inline;
      z-index: 9; }
    #header #menu a.menuSelected, #header #menu a.menuUnselected {
      float: left;
      display: block;
      width: 90px;
      padding-right: 2px;
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      background: black;
      color: white;
      z-index: 10; }
    #header #menu a.menuSelected {
      background: url("/images/selected_tab.gif") no-repeat;
      color: rgb(187, 213, 59); }
    #header #menu a.menuUnselected {
      background: url("/images/unselected_tab.gif") no-repeat; }
    #header #menu a.menuUnselected:hover {
      background: url("/images/selected_tab.gif") no-repeat;
      color: rgb(187, 213, 59); }
    #header #menu a.submenu {
      width: auto;
      background: #cccccc;
      color: green;
      font-weight: bold; }
    #header #menu a.menu:hover {
      background: url("/images/selected_tab.gif") no-repeat;
      color: black; }
    #header #menu a.submenu:hover {
      color: black; }
    #header #menu ul ul, #header #menu li:hover ul {
      display: none; }
    #header #menu li:hover ul, #header #menu li:hover ul {
      display: block;
      background-color: red; }
    #header #menu div.sub1 {
      width: 100px;
      background-image: url("/images/selected_tab.gif"); }
    #header #menu div.sub2 {
      display: none; }
    #header #menu div.sub1:hover div.sub2 {
      display: block; }
    #header #menu hr {
      position: absolute;
      left: 0px;
      top: 81px;
      color: #000000;
      background-color: #000000;
      height: 5px;
      width: 99%;
      z-index: 0; }

/* Content */
#content {
  float: left;
  margin: 0px 0px 0px 0px;
  width: 99%;
  background: #fff; }

#linkbox {
  float: left;
  margin: 5px 20px 0px 3px;
  background: #fff; }

/* Section 1 */
#section1 {
  float: left;
  margin: 0px 5px 0px 5px;
  width: 99%;
  background: #fff; }
  #section1 #submenu {
    width: 160px;
    margin: 0 0 5px 300px; }

/* Section2 */
#section2 {
  float: left;
  margin: 5px 5px 0px 5px;
  width: 99%;
  background: #fff; }

/* Section3 */
#section3 {
  float: left;
  margin: 5px 5px 0px 5px;
  width: 99%;
  background: #fff; }

/* Section4 */
#section4 {
  float: left;
  margin: 5px 5px 0px 5px;
  width: 99%;
  background: #fff; }

.label {
  float: left;
  border: 1px solid red;
  width: 150px; }

.data {
  display: inline;
  width: 100px;
  border: 1px solid blue;
  background-color: #ddd; }
