- content_for :subtitle do
  Servers
#section1
  %h2 Server Listing
#section2
  %table
    %tr
      %th Model name
      %th Server line
      %th Tier
      %th Sockets
      %th{:style => "valign='center'", :colspan => "3"}
        Options
    - for server in @servers
      %tr
        %td
          =h server.model_name
        %td
          =h server.server_line
        %td
          =h server.tier
        %td
          =h server.sockets
        %td
          = link_to 'Show', server
        %td
          = link_to_if current_user.role == ADMIN, 'Edit', edit_server_path(server)
        %td
          = link_to_if current_user.role == ADMIN, 'Destroy', server, :confirm => 'Are you sure?', :method => :delete
  %br
  = link_to_if current_user.role == ADMIN, 'New server', new_server_path
