= f.error_messages
%p
  %label{:for => :slot_number}
    Slot Number
  = f.text_field :slot_number
%p
  %label{:for => :path}
    I/O Path
  = f.text_field :path
%p
  %label{:for => :description}
    Description
  = f.text_field :description
