- content_for :subtitle do
  IO Slots
%h1 Listing io_slots

%table
  %tr
    %th Server
    %th Slot number
    %th Path
    %th Description
  - for io_slot in @io_slots
    %tr
      %td
        =h io_slot.server.model_name
      %td
        =h io_slot.slot_number
      %td
        =h io_slot.path
      %td
        =h io_slot.description
      %td
        = link_to 'Show', io_slot
      %td
        = link_to 'Edit', edit_io_slot_path(io_slot)
      %td
        = link_to 'Destroy', io_slot, :confirm => 'Are you sure?', :method => :delete
