- content_for :subtitle do
  I/O Slots
#section2
  %h1
    New I/O Slot for 
    = @server.model_name
#section2
  - form_for(:io_slot, :url => server_io_slots_path(@server.id)) do |f|
    = render :partial => "form", :locals => { :f => f } 
    %p
      = submit_tag "Create"
  = link_to 'Back', server_path(@server)
#section3
  %h2
    Current I/O slots in
    =h @server.model_name
  %table
    %tr
      %th Chassis
      %th Slot
      %th Path
      %th Description
    - @server.io_slots.sort_by {|x| x.sort_order}.each do |io_slot|
      %tr
        %td
          =h io_slot.chassis_number
        %td
          =h io_slot.slot_number
        %td
          =h io_slot.path
        %td
          =h io_slot.description
