<% content_for :subtitle do %>
  Footprints Category
<% end %>
<p>
  <b>Nimsoft Subsystem:</b>
  <%=h @footprints_category.subsystem %>
</p>

<p>
  <b>Footprints Main category:</b>
  <%=h @footprints_category.main_category %>
</p>


<%= link_to 'Edit', edit_footprints_category_path(@footprints_category) %> |
<%= link_to 'Back', footprints_categories_path %>
