-content_for :subtitle do
  Add SW Support Price
#section1
  =error_messages_for :sw_support_prices
  #sw_price.boxed
    %h2 New SW Support Price
    - form_for :sw_support_price, :url => sw_support_prices_path do |f|
      =render :partial => "form", :locals => {:f => f}
      %p
        = f.submit "Create"
      %p= link_to "Cancel", sw_support_prices_path

