- content_for :subtitle do
  Edit Line Item

#section1
  = error_messages_for :line_item
  - form_for(:line_item, :url => contract_line_item_path(@contract.id, @line_item.id), :html => { :method => :put }) do |f|
    = render :partial => "form", :locals => { :f => f } 

    %p
    = submit_tag "Update"

#section2
  = link_to('Show Contract', contract_path(@contract)) + ' | ' + link_to('Contract List', contracts_path)
