%tr
  %th{:width => '80px', :ts_type => 'string'}
    %b Office
  %th{:width => '140px', :ts_type => 'string'}
    %b Account
  %th{:width => '100px', :ts_type => 'number'}
    %b Contract ID
  %th{:width => '200px', :ts_type => 'string'}
    %b Description
  %th{:width => '80px'}
    %b Start Date
  %th{:width => '80px'}
    %b End Date
  %th{:width => '80px'}
    %b Renewal Created
  %th{:width => '80px'}
    %b Renewal Sent
  %th{:width => '50px', :ts_type => 'number'}
    %b Days Due
  %th{:width => '90px', :ts_type => 'money'}
    %b Revenue
  %th{:width => '90px', :ts_type => 'money'}
    %b Renewal Estimate
  %th
    %b Comment?
  - if current_user.has_role?(:admin)
    %th
      &nbsp;
