- content_for :subtitle do
  Reports - Customers

#section1
  %table{:class => 'plain_table'}
    %tr
      %td{:width => '300px', :style => 'valign:bottom'}
        %h2{:margin => '0'}
          Customers &nbsp;&nbsp;&nbsp;
          %span{:style => 'font-size:8pt;text-transform:lowercase'}= link_to_function 'Format for print', "toggleHeaderStuff()"
      %td
        Filter by Office
        =select("filter", "offices", @offices, {:include_blank => true },{:onchange => 'return toggleOffices()', :style => "width: 82px"})
      %td{:width => '325px', :align => 'right'}
          
  %h2{:style => 'margin:15px 0px 0px 90px'} Revenue by Customer and Support Office
  
  %table{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      %tr
        %th{:width => '90px', :ts_type => 'string'}
          Office
        %th{:width => '300px', :ts_type => 'string'}
          Customer
        %th{:width => '120px', :ts_type => 'money'}
          Annual Revenue
    %tbody
      - @customers.each do |x|
        %tr{:id => x.support_office_name}
          %td
            = h x.support_office_name
          %td
            = h x.account_name
          %td{:align => 'right'}= number_to_currency(x.revenue, :format => '%n')
