- content_for :subtitle do
  Reports

#section1

  %p
    - @url1 = url_for :controller => 'graphs', :action => 'sales_by_office'
    %img{'src' => @url1, 'style' => "border:1px solid #111111;"}

    - @url2 = url_for :controller => 'graphs', :action => 'sales_by_type_pie'
    %img{'src' => @url2, 'style' => "border:1px solid #111111;"}

