- content_for :subtitle do
  Reports - CE Loading

#section1
  %h2{:style => 'margin:15px 0px 0px 3px'} Current Annual HW revenue by equipment location
  
  %table{:class => "sortable", :padding => '2', :border => '1'}
    %thead
      %tr
        %th
          Location
        %th
          Revenue
    %tbody
      - @locations.each do |x|
        %tr
          %td
            = x.location
          %td{:align => 'right'}
            = number_to_currency(x.revenue, :format => '%u%n')
