- content_for :subtitle do
  Reports
  
%ul{:class => 'sub_menu'}
  %li
    = link_to 'Dashboard', reports_path
  %li
    = link_to 'Renewals', {:controller => "reports", :action => "renewals"}
  %li
    = link_to 'Inventory', {:controller => "reports", :action => "sparesreq"}, :class => 'active'

%p &nbsp;
#section1
  %h2
    Report Links
    
  #linkbox
    %dt
      %b Performance
    %dd{:style => "margin-left:20px"}
      %ul
        %li
          Test
        %li
          Test2

  #linkbox
    %dt
      %b Inventory
    %dd{:style => "margin-left:20px"}
      %ul
        %li
          = link_to 'Spares Requirements', 'reports/sparesreq'
        %li
          Test2
  
  %p &nbsp;




