-content_for :subtitle do
  Add HW Support Price
#section1
  =error_messages_for :hw_support_prices
  #hw_price.boxed
    %h2 New HW Support Price
    - form_for :hw_support_price, :url => hw_support_prices_path do |f|
      =render :partial => "form", :locals => {:f => f}
      %p
        = f.submit "Create"
      %p= link_to "Cancel", hw_support_prices_path

