#menu
  %ul#menu
    %li
      =link_to 'Contracts', contracts_path, {:class => tabclass('contracts')}
      %ul.submenu
        .submenu
          .submenuHeader Contracts - Contracts Menu
          .menuCol
            %h2 Contracts
            =link_to 'Main page', contracts_path, submenuhash('contractsinfo', 'Main Contracts Page')
            %br/
            =link_to 'Renewals', {:controller => 'reports', :action => 'renewals'}, submenuhash('contractsinfo', 'Expiring Contracts')
            %br/
            =link_to 'Missing Subcontracts', {:controller => 'reports', :action => 'missing_subcontracts'}, submenuhash('contractsinfo', 'Contracts needing a subcontract in place')
            %br/
          .menuCol.last
            %h2 SubContracts
            =link_to 'Partners', {:controller => 'subcontractors', :action => 'index'}, submenuhash('contractsinfo', 'View and Manage Subcontractor Partners')
            %br/
            =link_to 'Subcontracts', {:controller => 'subcontracts', :action => 'index'}, submenuhash('contractsinfo', 'Manage Subcontracts')
            %br/
          .submenuFooter{:id => "contractsinfo"}
            &nbsp;
    %li
      =link_to 'Reports', reports_path, {:class => tabclass('reports')}
      %ul.submenu
        .submenu
          .submenuHeader Reports - Contract and Inventory reports
          .menuCol
            %h2 Contracts
            =link_to 'Renewals', {:controller => 'reports', :action => 'renewals'}, submenuhash('reportsinfo', 'Expiring Contracts')
            %br/
            =link_to 'Special Billing', {:controller => 'reports', :action => 'variable_billing'}, submenuhash('reportsinfo', 'Contracts with changing monthly payments')
            %br/
            =link_to 'Line Item Search', {:controller => 'line_items', :action => 'index'}, submenuhash('reportsinfo', 'Find which contracts contain a certain product')
            %br/
            =link_to 'Customers Needing SAM', {:controller => 'reports', :action => 'sam_needed'}, submenuhash('reportsinfo', 'List customers that need to have a SAM prepared and sent')
            %br/
            =link_to 'SA Days', {:controller => 'reports', :action => 'sa_days'}, submenuhash('reportsinfo', 'Total SA Days sold per customer')
          .menuCol
            %h2 Revenue
            =link_to 'Dashboard', {:controller => 'reports', :action => 'index'}, submenuhash('reportsinfo', 'Main Reports Page')
            %br/
            =link_to 'Customers', {:controller => 'reports', :action => 'customers'}, submenuhash('reportsinfo', 'List of Customers by Revenue')
            %br/
            =link_to 'New Business', {:controller => 'reports', :action => 'newbusiness'}, submenuhash('reportsinfo', 'New Business by Month')
            %br/
            =link_to 'Old Business', {:controller => 'reports', :action => 'oldbusiness'}, submenuhash('reportsinfo', 'Support Renewals Received by Month')
            %br/
            =link_to 'Locations', {:controller => 'reports', :action => 'potentialoffices'}, submenuhash('reportsinfo', 'Revenue by Physical Location')
            %br/
            =link_to 'Quota', {:controller => 'reports', :action => 'quota'}, submenuhash('reportsinfo', 'Quota Attainment by Quarter')
            %br/
          .menuCol.last
            %h2 Parts
            =link_to 'Spares Requirements', {:controller => 'reports', :action => 'sparesreq'}, submenuhash('reportsinfo', 'Supported Parts by Location')
            %br/
            =link_to 'Inventory', {:controller => 'fishbowl_inventory_items', :action => 'index'}, submenuhash('reportsinfo', 'Inventory of Parts')
            %br/
            =link_to 'Spares Assessment', {:controller => 'reports', :action => 'spares_assessment'}, submenuhash('reportsinfo', 'Compare inventory to supported products')
            %br/
          .submenuFooter{:id => "reportsinfo"}
            &nbsp;
    %li
      =link_to 'Tools', tools_path, {:class => tabclass('tools')}
      %ul.submenu
        .submenu
          .submenuHeader Tools - Miscellaneous Tools
          - if current_user.has_role?(:config_tool_admin)
            .menuCol
              %h2 Admin
              =link_to 'Servers', servers_path, submenuhash('toolsinfo', 'Edit List of Servers & I/O Slots')
              %br/
              =link_to 'Blacklists', swlist_blacklists_path, submenuhash('toolsinfo', 'Edit Blacklisted SWLIST items')
              %br/
              =link_to 'Whitelists', swlist_whitelists_path, submenuhash('toolsinfo', 'Edit Whitelisted SWLIST items & SW Products')
              %br/
          .menuCol
            %h2 Gather Configs
            =link_to 'I/O Scan', ioscans_path, submenuhash('toolsinfo', 'Process an HP-UX I/O Scan')
            %br/
            =link_to 'SW List', swlists_path, submenuhash('toolsinfo', 'Process an HP-UX SW Listing')
            %br/
            =link_to 'Dell Warranty', {:controller => 'tools', :action => 'dell_service_tag'}, submenuhash('toolsinfo', 'Find Dell Warranty information')
            %br/
            =link_to 'Dell Configuration', {:controller => 'tools', :action => 'dell_configuration'}, submenuhash('toolsinfo', 'Find Dell Original Configuration information')
          .menuCol
            %h2 Misc.
            =link_to 'Footprints Categories', footprints_categories_path, submenuhash('toolsinfo', 'Set up Nimsoft -> Footprints category mapping')
            %br/
          - if current_user.has_role?(:admin, :hardware_sales)
            .menuCol.last
              %h2 Upfront Orders
              =link_to 'Open Upfront Orders', {:controller => 'upfront_orders', :action => 'index'}, submenuhash('admininfo', 'View Pending Upfront Orders')
              %br/
              =link_to 'Raw Appgen Orders', {:controller => 'appgen_orders', :action => 'index'}, submenuhash('admininfo', 'View Raw Upfront Orders')
              %br/
          .submenuFooter{:id => "toolsinfo"}
            &nbsp;
    %li
      =link_to 'Prices', '#', {:class => tabclass('prices')}
      %ul.submenu
        .submenu
          .submenuHeader Quotes and Pricing
          .menuCol
            %h2 Pricing
            =link_to 'HW Support Pricing', {:controller => 'hw_support_prices'}, submenuhash('pricesinfo', 'Quick Hardware Support Pricecheck')
            %br/
            =link_to 'SW Support Pricing', {:controller => 'sw_support_prices'}, submenuhash('pricesinfo', 'Quick Software Support Pricecheck')
            %br/
          -if current_user.has_role?(:pricing_manager)
            .menuCol.last
              %h2 Change Prices
              =link_to 'HW Support Add', {:controller => 'hw_support_prices', :action => 'new'}, submenuhash('pricesinfo', 'Add a new HW Support Price')
              %br/
              =link_to 'SW Support Add', {:controller => 'sw_support_prices', :action => 'new'}, submenuhash('pricesinfo', 'Add a new SW Support Price')
              %br/
              =link_to 'Manufacturers', {:controller => 'manufacturers', :action => 'index'}, submenuhash('pricesinfo', 'View/Edit list of Manufacturers')
              %br/
              =link_to 'Product Lines', {:controller => 'manufacturer_lines', :action => 'index'}, submenuhash('pricesinfo', 'View/Edit list of Manufacturer\\\'s Product Lines')
              %br/
          .submenuFooter{:id => "pricesinfo"}
            &nbsp;
    - if current_user.has_role?(:admin)
      %li
        =link_to 'Admin', admin_path, {:class => tabclass('admin')}
        %ul.submenu
          .submenu
            .submenuHeader Admin - Administration Area
            .menuCol
              %h2 Edit/Create
              =link_to 'Users', {:controller => 'users', :action => 'index'}, submenuhash('admininfo', 'Edit Users and Select Roles for a User')
              %br/
              =link_to 'Dropdowns', {:controller => 'dropdowns', :action => 'index'}, submenuhash('admininfo', 'Edit Application Dropdowns')
              %br/
              =link_to 'Roles', {:controller => 'roles', :action => 'index'}, submenuhash('admininfo', 'Select Users for a particular Role')
              %br/
            .menuCol
              %h2 Tools
              =link_to 'Import', {:controller => 'import', :action => 'index'}, submenuhash('admininfo', 'Import a new Contract')
              %br/
            .menuCol
              %h2 Admin Reports
              =link_to 'Admin Page', {:controller => 'admin', :action => 'index'}, submenuhash('admininfo', 'Go to the Main Admin page - for Misc. Reports')
              %br/
              =link_to 'Cashflow', {:controller => 'admin', :action => 'cashflow'}, submenuhash('admininfo', 'Support Cashflow Forecast')
              %br/
              =link_to 'Appgen', {:controller => 'admin', :action => 'appgen'}, submenuhash('admininfo', 'Run Appgen queries')
              %br/
              =link_if current_user.has_role?(:auditor), 'Audit Trail', {:controller => 'audits'}, submenuhash('admininfo', 'Audit Changes by user or model')
              %br/
            .submenuFooter{:id => "admininfo"}
              &nbsp;
    -if logged_in?
      %li
        = link_to 'Logout', "/logout",  :class => "menuUnselected"
    -else
      %li
        = link_to 'Login', "/login",  :class => "menuUnselected"
    %li
      =link_to 'Feedback', 'http://bugs.corp.ad/enter_bug.cgi?product=SD%20Ops', :class => "menuUnselected", :title => "Submit an issue or enhancement request", :target => "_blank"
  #userinfo
    - if current_user != :false
      %p
        = h current_user.first_name.to_s + ' ' + current_user.last_name.to_s
