!!! Transitional

%html{ "xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", "lang"=>"en" }
  %head
    %meta{ 'http-equiv'=>"content-type", 'content'=>"text/html;charset=UTF-8"}/
    %title
      = 'Contracts:' + controller.action_name
    = stylesheet_link_tag 'main'

  %body
    #header
      = image_tag("sodi-logo-tag.jpg", :id => "logo", :width => "182", :height => "60", :border => "0")
      
    = yield
    

